@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@layer global {
    :root {
        --black: #141414;
        --white: #FFFFFF;
        --orange: #FA8C16;
        --menu-bg: #FFF7E6;
        --gray: #8896AB;
        --dark-orange: #612500;
    }

    *,
    *::after,
    *::before {
        box-sizing: border-box;
        font-family: "Inter", sans-serif;
    }

    body,
    h1,
    h2,
    h3,
    p {
        margin: 0;
    }

    body {
        overflow: hidden;
    }

    .container {
        max-width: 900px;
        margin-inline: auto;
        padding-inline: 20px;
    }

    h2 {
        color: var(--black);
        font-size: 36px;
        line-height: 41.2px;
        letter-spacing: -2px;
        font-weight: 600;
        text-align: center;
    }

    h2 span {
        color: var(--orange);
    }

    @media (width < 680px) {
        h2 {
            font-size: 24px;
            line-height: 32px;
        }
    }
}

@layer header {
    header {
        padding-block: 13px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 31px;
        padding: 0;
    }

    #close-container {
        display: none;
    }

    .buttons {
        display: flex;
        gap: 19px;
        align-items: center;
    }

    button {
        border: none;
        background-color: var(--orange);
        color: var(--white);
        font-size: 16px;
        line-height: 24px;
        border-radius: 6px;
        padding: 12px 28px;
        cursor: pointer;
    }

    a {
        color: var(--black);
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
    }

    #menu-icon {
        display: none;
    }

    @media (width < 1000px) {
        nav {
            position: absolute;
            background-color: var(--menu-bg);
            right: -160px;
            top: 0;
            width: 160px;
            padding-top: 5px;
            padding-bottom: 5px;
            text-align: center;
            box-shadow: -5px 7px 19px rgba(0, 0, 0, 0.107);
            border-radius: 6px 0 6px 6px;

            transition: right 500ms ease-in-out;
        }

        ul {
            flex-direction: column;
            gap: 24px;
        }

        #close-container {
            display: block;
            border-bottom: 0.5px solid var(--gray);
            padding-bottom: 10px;
            text-align: right;
            padding-right: 10px;
        }

        #close-icon {
            cursor: pointer;
        }

        #menu-icon {
            display: block;
            cursor: pointer;
        }

        button {
            font-size: 10px;
            line-height: 12.9px;
            border-radius: 6px;
        }

        .logo {
            width: 105px;
        }
    }
}

@layer hero {
    @media (width < 1000px) {}
}

@layer trusted {
    .trusted {
        background-color: var(--menu-bg);
        padding-top: 64px;
        padding-bottom: 21px;
    }

    .trusted .container {
        display: flex;
        flex-direction: column;
        gap: 52px;
    }

    .stats {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        text-align: center;
        flex-wrap: wrap;
    }

    .stat {
        max-width: 240px;
    }

    .stat-counter {
        font-size: 60px;
        font-weight: 700;
        letter-spacing: -2px;
        color: var(--orange);
    }

    .stat-title {
        font-size: 20px;
        font-weight: 600;
        color: #5B5B5B;
        text-transform: uppercase;
    }

    .logos {
        background-color: var(--dark-orange);
        height: 100px;
        margin-top: 88px;
    }

    @media (width < 1000px) {}

    @media (width < 680px) {

        .trusted {
            padding-bottom: 32px;
        }

        .stats {
            justify-content: center;
            flex-direction: column;
        }

        .stat-counter {
            font-size: 50px;
            font-weight: 700;
            line-height: 55px;
            letter-spacing: -1.6px;
        }

        .stat-title {
            font-size: 16px;
            font-weight: 600;
            line-height: 15px;
            color: var(--black);
            text-transform: uppercase;
        }

        .logos {
            margin-top: 60px;
        }
    }
}