@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@layer global {
    :root {
        --black: #141414;
        --white: #FFFFFF;
        --orange: #FA8C16;
        --orange-light: #FFD591;
        --menu-bg: #FFF7E6;
        --gray: #8896AB;
        --dark-orange: #612500;
        --black-orange: #442A11;
    }

    *,
    *::after,
    *::before {
        box-sizing: border-box;
        font-family: "Inter", sans-serif;
    }

    body,
    h1,
    h2,
    h3,
    p {
        margin: 0;
    }

    body {
        overflow-x: hidden;
    }

    .container {
        max-width: 900px;
        margin-inline: auto;
        padding-inline: 20px;
    }

    .section__header {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .section__heading {
        color: var(--black);
        font-size: 36px;
        line-height: 41.2px;
        letter-spacing: -2px;
        font-weight: 600;
        text-align: center;
    }

    .section__heading span {
        color: var(--orange);
    }

    .section__description {
        font-size: 18px;
        line-height: 24px;
        color: var(--gray);
    }

    @media (width < 680px) {
        .section__header {
            gap: 5px;
        }

        .section__heading {
            font-size: 24px;
            line-height: 32px;
        }

        .section__description {
            font-size: 14px;
            line-height: 26px;
        }
    }
}

@layer header {
    header {
        max-width: 1100px;
        margin-inline: auto;
        padding-inline: 20px;
        padding-block: 13px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 31px;
        padding: 0;
    }

    #close-container {
        display: none;
    }

    .buttons {
        display: flex;
        gap: 19px;
        align-items: center;
    }

    button {
        border: none;
        background-color: var(--orange);
        color: var(--white);
        font-size: 16px;
        line-height: 24px;
        border-radius: 6px;
        padding: 12px 28px;
        cursor: pointer;
    }

    a {
        color: var(--black);
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        transition: color 500ms ease-in-out;
    }

    a:hover {
        color: var(--orange);
    }

    #menu-icon {
        display: none;
    }

    /* nav {
        display: block !important;
        opacity: 1 !important;
    } */

    @media (width < 1000px) {
        header nav {
            position: absolute;
            background-color: var(--menu-bg);
            right: 0;
            top: 0;
            width: 160px;
            padding-top: 5px;
            padding-bottom: 5px;
            text-align: center;
            box-shadow: -5px 7px 19px rgba(0, 0, 0, 0.107);
            border-radius: 6px 0 6px 6px;
            transition: all 300ms ease-in-out;
            z-index: 99;

            opacity: 0;
            visibility: hidden;
        }

        ul {
            flex-direction: column;
            gap: 24px;
        }

        #close-container {
            display: block;
            border-bottom: 0.5px solid var(--gray);
            padding-bottom: 10px;
            text-align: right;
            padding-right: 10px;
        }

        #close-icon {
            cursor: pointer;
        }

        #menu-icon {
            display: block;
            cursor: pointer;
        }

        button {
            font-size: 10px;
            line-height: 12.9px;
            border-radius: 6px;
        }

        .logo {
            width: 105px;
        }
    }
}

@layer hero {

    .hero {
        max-width: 1100px;
        margin-inline: auto;
        padding-inline: 20px;
        padding-block: 13px;
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 60px;
        padding-block: 60px;
    }

    .hero-text {
        width: 488px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .hero h1 {
        font-size: 47px;
        line-height: 56px;
        color: var(--black);
    }

    .hero p {
        color: var(--gray);
    }

    .hero h1 span {
        color: var(--orange);
    }

    .hero .buttons {
        display: flex;
        gap: 20px;
    }

    .hero-img-bg {
        background-color: var(--orange-light);
        border-radius: 18px;
        width: 341px;
        height: 241px;
        position: relative;
        text-align: center;
        /* overflow: hidden; */
    }

    .hero-phone-image {
        width: 190px;
        margin-top: -120px;
        position: relative;
    }

    .hero-line-pattern,
    .hero-dot-pattern,
    .hero-orange-rectangle {
        position: absolute;
    }

    .hero-line-pattern {
        top: -20px;
        left: -20px;
    }

    .hero-dot-pattern {
        bottom: -10px;
        right: -10px;
    }

    .hero-orange-rectangle {
        top: 50%;
        transform: translateY(-50%);
        right: 50px;
        width: 60px;
    }

    @media (width < 1000px) {
        .hero {
            flex-direction: column;
            align-items: center;
            gap: 160px;
        }

        .hero-text {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            text-align: center;
        }

        .hero .buttons {
            justify-content: center;
        }
    }

    @media (width < 680px) {
        .hero h1 {
            font-size: 30px;
            line-height: 1;
        }

        .hero p {
            font-size: 14px;
            line-height: 1;
            max-width: 85%;
            margin-inline: auto;

        }

        .hero .buttons {
            gap: 10px;
        }
    }
}

@layer trusted {
    .trusted {
        background-color: var(--menu-bg);
        padding-top: 64px;
        padding-bottom: 21px;
    }

    .trusted__upper.container {
        display: flex;
        flex-direction: column;
        gap: 52px;
    }

    .stats {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        text-align: center;
        flex-wrap: wrap;
    }

    .stat {
        max-width: 240px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .stat-counter {
        font-size: 60px;
        font-weight: 700;
        letter-spacing: -2px;
        color: var(--orange);
    }

    .stat-title {
        font-size: 20px;
        font-weight: 600;
        color: #5B5B5B;
        text-transform: uppercase;
    }

    .logos {
        background-color: var(--dark-orange);
        margin-top: 88px;
        padding-block: 34px;
        display: flex;
        overflow: hidden;
    }

    .trusted__lower.container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: unset;
        width: 100%;

        flex-grow: 0;
        flex-shrink: 0;

        /* padding: 0 30px; */

        animation: infiniteScroll 15s alternate-reverse infinite;

    }

    .trusted__lower.container::-webkit-scrollbar {
        display: none;
        /* Hides the scrollbar */
    }

    .logos img {
        height: 28px;
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    @media (width < 1000px) {
        .trusted {
            padding-bottom: 32px;
        }

        .stats {
            justify-content: center;
            /* flex-direction: column; */
        }

        .stat-counter {
            font-size: 50px;
            font-weight: 700;
            line-height: 55px;
            letter-spacing: -1.6px;
        }

        .stat-title {
            font-size: 16px;
            font-weight: 600;
            line-height: 15px;
            color: var(--black);
            text-transform: uppercase;
        }

        .logos {
            margin-top: 60px;
        }
    }

    @media (width < 680px) {
        .stats {
            flex-direction: column;
        }

        .logos img {
            height: 24px;
            /* width: fit-content; */
        }
    }
}

@layer services {
    .services {
        padding-block: 70px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .services__grid {
        display: grid;
        gap: 18px;

        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:

            "task calender calender"
            "focus notes chat"
        ;
    }

    .service {
        background-color: var(--dark-orange);
        border-radius: 8px;
        padding: 20px;
        padding-top: 50px;
        color: var(--white);
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;
        position: relative;
    }

    .service img {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .service .number {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--orange);
        border-radius: 50%;
    }

    .task {
        grid-area: task;
    }

    .calender {
        grid-area: calender;
    }

    .focus {
        grid-area: focus;
    }

    .notes {
        grid-area: notes;
    }

    .chat {
        grid-area: chat;
    }

    .service.calender img {
        width: 150px;
        top: 50%;
        transform: translateY(-50%);
    }

    .service.calender .service-description {
        width: 70%;
    }

    @media (width < 800px) {
        .services__grid {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:

                "task calender"
                "focus focus"
                "notes chat"
            ;
        }

        .service.calender img {
            width: 90px;
            top: 10px;
            transform: unset;
            right: 10px;
        }

        .service.focus img {
            width: 150px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    @media (width < 680px) {
        .services__grid {
            grid-template-columns: 1fr;
            grid-template-areas:

                "task"
                "calender"
                "focus"
                "notes"
                "chat"
            ;
        }

        .service {
            width: 100%;
        }

        .service.calender img {
            width: 95px;
        }

        .service.focus img {
            width: 90px;
            top: 10px;
            transform: unset;
            right: 10px;
        }
    }

}

@layer testimonials {
    .testimonials {
        max-width: 950px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding-bottom: 70px;
    }

    .testimonials__container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;

    }

    .testimonial-card {
        max-width: 280px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 40px 17px;
        border: 1px solid var(--orange);
        border-radius: 12px;
        color: var(--black);
        transition: all .5s;
    }

    .testimonial-card:hover {
        background-color: var(--orange);
        color: var(--menu-bg);
        cursor: pointer;
    }

    .testimonial-card:hover .testimonial-message,
    .testimonial-card:hover .testimonial-author-position {
        color: #ffffff7f;
    }

    .testimonial-title {
        font-size: 16px;
        font-weight: bold;
    }

    .testimonial-message {
        font-size: 14px;
        color: var(--gray);
    }

    .testimonial-author {
        display: flex;
        align-items: center;
        margin-top: 10px;
        gap: 10px;
    }

    .testimonial-author-avatar {
        width: 48px;
    }

    .testimonial-author-name {
        font-weight: bold;
    }

    .testimonial-author-position {
        font-size: 12px;
        font-weight: 600;
        color: var(--gray);
    }

    @media (width < 680px) {
        .testimonial-card {
            max-width: unset;
        }

        .testimonials {
            gap: 25px;
        }
    }

}

@layer footer {
    footer {
        background-color: var(--black-orange);
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-block: 40px;
        align-items: center;
    }

    footer a {
        color: var(--white);
    }

    footer a:hover {
        color: var(--orange);
    }

    footer nav ul {
        /* display: flex; */
        flex-direction: row;
    }

    .socials-and-button {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .socials {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .socials img {
        cursor: pointer;
    }

    @media(width<680px) {
        footer nav ul {
            /* display: flex; */
            flex-direction: column;
            align-items: center;
            gap: 8px;
        }

        .socials-and-button {
            flex-direction: column;
        }
    }

}

/* ANIMATIONS */
@keyframes infiniteScroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}